[submodule "formulas/sun-java-formula"]
	path = formulas/sun-java-formula
	url = https://github.com/TronPaul/sun-java-formula.git
[submodule "formulas/sensu-formula"]
	path = formulas/sensu-formula
	url = https://github.com/TronPaul/sensu-formula.git
[submodule "formulas/rabbitmq-formula"]
	path = formulas/rabbitmq-formula
	url = https://github.com/TronPaul/rabbitmq-formula.git
[submodule "formulas/redis-formula"]
	path = formulas/redis-formula
	url = https://github.com/TronPaul/redis-formula.git
	branch = ubuntu-14.04
[submodule "formulas/nfs-formula"]
	path = formulas/nfs-formula
	url = https://github.com/TronPaul/nfs-formula.git
