[Unit]
Description={{ server_name }} Mumble Server (Murmur)
Requires=network-online.target
After=network-online.target mariadb.service time-sync.target

[Service]
User=mumble-server
Type=forking
ExecStart=/usr/sbin/murmurd -ini /etc/mumble-server/{{ server_name }}.ini 

[Install]
WantedBy=multi-user.target
