{% set lns = salt['pillar.get']('xl2tpd:lns', None) -%}
[global]
port = 1701

;debug avp = yes
;debug network = yes
;debug state = yes
;debug tunnel = yes
{% if lns -%}
{%- set lns_name = lns['name'] -%}
{%- set ip_start = lns['ip_start'] -%}
{%- set ip_end = lns['ip_end'] -%}
{%- set local_ip = lns['local_ip'] -%}
[lns default]
ip range = {{ ip_start }}-{{ ip_end }}
local ip = {{ local_ip }}
require chap = yes
refuse pap = yes
require authentication = yes
name = {{ lns_name }}
;ppp debug = yes
pppoptfile = /etc/ppp/options.xl2tpd
length bit = yes
{%- endif %}
{% for lac_name, lac in salt['pillar.get']('xl2tpd:lac', {}).items() -%}
{%- set lns = lac['lns'] -%}
[lac {{ lac_name }}]
lns = {{ lns }}
ppp debug = no
pppoptfile = /etc/ppp/options.xl2tpd.client.{{ lac_name }}
length bit = yes
{%- endfor -%}
