#!/bin/sh

SERVER_NAME=$1

BUCKET="{{bucket}}"
DB_EXT=".sqlite"
SHA_EXT=".sha256"
DB_FILE="$SERVER_NAME$DB_EXT"
SHA_FILE="$DB_FILE$SHA_EXT"
DB_PATH="{{db_path}}/$DB_FILE"

if [ -f $DB_PATH ]; then
  DIR=`mktemp -d`
  echo sha256=`sha256sum $DB_PATH | cut -f 1 -d ' '` > $DIR/$SHA_FILE
  salt-call s3.put $BUCKET mumble/$SHA_FILE local_file=$DIR/$SHA_FILE
  salt-call s3.put $BUCKET mumble/$DB_FILE local_file=$DB_PATH
  rm -r $DIR
fi
